@import url('./site.css');
@import url('./home.css');
@import url('./responsive.css');
@import url('./register-login.css');
@import url('./all-posts.css');
@import url('./create-edit.css');
@import url('./details.css');
@import url('./404.css');
@import url('./about.css');
@import url('./attach.css');
@import "tailwindcss";
@import url('./comment.css');
@import url('./profile.css');